<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="LogLocation" value="C:\\Builds\\NutriStyle\\Log\\NutriStyle.txt" />
        <add key="LogLevel" value="DEBUG" />
        <add key="Username" value="administrator" />
        <add key="Password" value="P@ssw0rd" />
        <add key="Domain" value="launchpad" />
        <add key="Server" value="10.1.10.3" />
        <add key="Organization" value="NS" />
        <add key="Port" value="5555" />        
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
